.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem a {
    padding: 10px;
    padding-left: 20px;
    color: #ffffff;
    text-decoration: none;
}

.dialogsItem a.active {
    color: gold;
}

.messages {
    padding: 10px;
}

.dialogs {
    color: white;

}