.nav {
    grid-area: n;
    background-color: #0c0718;
    padding: 40px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}

.item a.active {
    color: #d20b4a;
}